<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DiamondCircle_dbEntities" connectionString="metadata=res://*/DTO.csdl|res://*/DTO.ssdl|res://*/DTO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:it5jl14q4r.database.windows.net,1433;initial catalog=DiamondCircle_db;integrated security=False;user id=srowlison@it5jl14q4r;password=fr@@d0m01;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DiamondCircle_dbEntities" connectionString="Data Source=tcp:it5jl14q4r.database.windows.net,1433;Initial Catalog=DiamondCircle_db;Integrated Security=False;User ID=srowlison@it5jl14q4r;Password=fr@@d0m01;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" />-->
    <add name="DiamondCircle_dbConnectionString" connectionString="Data Source=tcp:it5jl14q4r.database.windows.net,1433;Initial Catalog=DiamondCircle_db;Integrated Security=False;User ID=srowlison@it5jl14q4r;Password=fr@@d0m01;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="rpc_host" value="http://localhost:8332" />
    <add key="rpc_user" value="dcuser_node" />
    <add key="rpc_pw" value="JMzipYlSb4VxSC3N7eguTNkkyThE1Luxb1qdxISj" />
    <!--
    
  <add key="rpc_host" value="http://rpc.blockchain.info" />
    <add key="rpc_user" value="4ea10592-e7cb-4170-9b5b-6e94e3236bb1" />
    <add key="rpc_pw" value="LkWBJjsT7p" />
   -->
    <add key="mainaddress" value="1ygyJfeRLHjuxpk3vJFHb5eNjCeLF9iwV" />
    <add key="coinjar_api_key" value="GktJ3xqsAPw1RH8LvCgxSyQpvKSRRScpZn7BKUq9CHWoxaM7" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IAtm">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ICard">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://node.diamondcircle.net/Atm.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpsBinding_IAtm" contract="NodeTest.IAtm"
        name="BasicHttpsBinding_IAtm" />
      <endpoint address="https://payment.diamondcircle.net/Card.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICard"
        contract="CardTest.ICard" name="BasicHttpsBinding_ICard" />
    </client>
  </system.serviceModel>
</configuration>