<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IAtm">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_ICard">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IExchange">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://node.diamondcircle.net/Atm.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_IAtm" contract="ATM.IAtm"
                name="BasicHttpsBinding_IAtm" />
            <endpoint address="https://payment.diamondcircle.net/Card.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICard"
                contract="Card.ICard" name="BasicHttpsBinding_ICard" />
            <endpoint address="https://payment.diamondcircle.net/Exchange.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IExchange"
                contract="DCExchange.IExchange" name="BasicHttpsBinding_IExchange" />
        </client>
    </system.serviceModel>
</configuration>