<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="DefaultConnection"
        connectionString="Data Source=STEVE-HP\SQLEXPRESS;Initial Catalog=DiamondCircle_DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
      <add name="DiamondCircle_dbEntities"
        connectionString="metadata=res://*/EntityModels.csdl|res://*/EntityModels.ssdl|res://*/EntityModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=STEVE-HP\SQLEXPRESS;Initial Catalog=DiamondCircle_DB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="StorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=dcportal;AccountKey=96WWl9lVWySvOCDwwx3lnHqrrP7HFMgz8LuuKzwO914ULixRHlcHCYoSkhIs2RdqEchm8NphKGTvl8NMVKwoBA==" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultConnection" connectionString="Data Source=bto48xjog2.database.windows.net;Initial Catalog=DiamondCircle_DB;Integrated Security=False;User ID=btbiadmin;Password=Qi37BFzuQn" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DiamondCircle_dbEntities" connectionString="metadata=res://*/EntityModels.csdl|res://*/EntityModels.ssdl|res://*/EntityModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=bto48xjog2.database.windows.net;Initial Catalog=DiamondCircle_DB;Integrated Security=False;User ID=btbiadmin;Password=Qi37BFzuQn;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>