@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model IEnumerable<DC.Data.Card>
<link href="~/Content/tooltip.css" rel="stylesheet" />
<script src="~/Scripts/tooltip.js"></script>



<div class="titleBox">
    <h1 >Total  Balance : @ViewBag.Message</h1>

</div>
<div class="datagrid1">
<table>
    <thead>
    <tr>
         <th>
               Status
            </th>
           <th>
          Address
         </th>
       
        <th>

        </th>
        <th>
          
        </th>
        <th>
         
        </th>
        <th>
          
        </th>
 
    </tr>
</thead>
@foreach (var item in Model) {
    <tr>
      
       <td>
           <div style="display:none;">
                <div id="ShowQr">
                  @Html.DisplayFor(modelItem => item.Status)           

                </div> </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicKey)
        </td>
        <td>$40
        @*<label class="Font1"> @{Html.RenderAction("ShowBalance", "Wallet", new { address = item.PublicKey, con = 4 });}</label>*@
        </td>
        
  
        <td>
             @Html.ActionLink("Transfer BitCoin", "Send", new { Aid=item.PublicKey },new { @class= "btn" })
        </td>

       
    </tr>
}

</table>
</div>
