<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DiamondCircle_dbEntities" connectionString="metadata=res://*/DTO.csdl|res://*/DTO.ssdl|res://*/DTO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:it5jl14q4r.database.windows.net,1433;initial catalog=DiamondCircle_db;integrated security=False;user id=srowlison@it5jl14q4r;password=fr@@d0m01;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DiamondCircle_dbConnectionString" connectionString="Data Source=tcp:it5jl14q4r.database.windows.net,1433;Initial Catalog=DiamondCircle_db;Integrated Security=False;User ID=srowlison@it5jl14q4r;Password=fr@@d0m01;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--   <add key="rpc_host" value="http://localhost:8332" />
    <add key="rpc_user" value="dcuser_node" />
    <add key="rpc_pw" value="JMzipYlSb4VxSC3N7eguTNkkyThE1Luxb1qdxISj" />-->
    
    <add key="rpc_host" value="https://rpc.blockchain.info/" />
    <add key="rpc_user" value="4ea10592-e7cb-4170-9b5b-6e94e3236bb1" />
    <add key="rpc_pw" value="LkWBJjsT7p" />
    <add key="mainaddress" value="1KPqVEh4mZrRgxSt2i4GyJes9J4XdzDnJk" />
    <add key="coinjar_api_key" value="GktJ3xqsAPw1RH8LvCgxSyQpvKSRRScpZn7BKUq9CHWoxaM7" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="fee" value="0.0001" />
    <add key="EmailAddress" value="info@diamondcircle.net" />
    <add key="EmailPass" value="2Rulu6165" />
    <add key="Server" value="pod51024.outlook.com" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DC.Node.atm">
        <endpoint address="" binding="basicHttpsBinding" bindingConfiguration="secureHttpBinding" contract="DC.Node.IAtm" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpsBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>