<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitcoinATM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_ICard">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAtm">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IExchange">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IDiagnostic">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://node.diamondcircle.net/atm.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAtm" contract="ATM.IAtm"
                name="BasicHttpBinding_IAtm" />
            <endpoint address="https://payment.diamondcircle.net/Exchange.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IExchange"
                contract="DCExchange.IExchange" name="BasicHttpsBinding_IExchange" />
            <endpoint address="https://payment.diamondcircle.net/Card.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICard"
                contract="DCCard.ICard" name="BasicHttpsBinding_ICard" />
            <endpoint address="https://payment.diamondcircle.net/Diagnostic.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDiagnostic"
                contract="DCDiagnostics.IDiagnostic" name="BasicHttpsBinding_IDiagnostic" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <BitcoinATM.Properties.Settings>
            <setting name="TerminalId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrinterVendorId" serializeAs="String">
                <value>3540</value>
            </setting>
            <setting name="PrinterProductId" serializeAs="String">
                <value>424</value>
            </setting>
        </BitcoinATM.Properties.Settings>
    </applicationSettings>
</configuration>