@{
    ViewBag.Title = "Home";
}
@section featured {
 

}

@using (Html.BeginForm())
{




    <div class="row pg-contents" >

        <div class="col gu11">

            <img src="~/Images/Diamond-Circle-Bitcoin-Debit-Card.png"
                 style="position:absolute left; padding-top:10px; padding-left:30px" height="250px" width="300px">
            &nbsp;
            <br />
           
            <p><h2> The Bitcoin ATM has arrived </h2></p>
            
            <p>Buy and sell Bitcoin, get secure coin tags and manage your balance.
            Diamond Circle BTM makes it easy and safe to go cashless within coming national regulatory guidelines.</p>
            <br />
        </div>

        <div class="col gu1">
            &nbsp;

        </div>
        <div class="col gu12">
            <p><h2>Your Bitcoin is safe with YOU!</h2></p>

            <p>Your blockchain account access is encrypted on your personal coin tag, not stored in an online wallet or website database. SAFE and smart!</p>
            <div class="row">
                <div class="col gu4">
                    <img src="~/Images/100Guarantee.jpg" height="130" width="120" />
                    <br />
                    <img src="~/Images/guarantee.png" style ="padding-top:30px"/>
                </div>
                <div class="col gu8">
                    <img src="~/Images/bitcoin-atm-right-dc.jpg" height="300" width="180"
                         style="padding-right:10px;">
            </div>
            </div>
        </div>
    </div>

        <div class="row blueband">
            <div class="col gu12" style="float: left; ">
                <a href="~/Card/Activate" >
                    <img src="~/images/activate_button.png"
                         style="margin-top:10px" />
                </a>
            </div>
            <div class="col gu12">
                <a href="~/Transfer/Index" style="float: right;margin-right:10px;">
                    <img src="~/images/transfer_button.png" style="margin-top: 10px" />
                </a>
            </div>
        </div>

}                        