<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PayPalAPISoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PayPalAPIAASoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PayPalAPISoapBinding1" />
                <binding name="PayPalAPIAASoapBinding1" />
                <binding name="PayPalAPISoapBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="PayPalAPIAASoapBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="PayPalAPISoapBinding3" />
                <binding name="PayPalAPIAASoapBinding3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.sandbox.paypal.com/2.0/" binding="basicHttpBinding" bindingConfiguration="PayPalAPISoapBinding" contract="PaypalSvc.PayPalAPIInterface" name="PayPalAPI" />
            <endpoint address="https://api-aa.sandbox.paypal.com/2.0/" binding="basicHttpBinding" bindingConfiguration="PayPalAPIAASoapBinding" contract="PaypalSvc.PayPalAPIAAInterface" name="PayPalAPIAA" />
            <endpoint address="https://api.sandbox.paypal.com/2.0/" binding="basicHttpBinding" bindingConfiguration="PayPalAPISoapBinding2" contract="PaypalSandboxSvc.PayPalAPIInterface" name="PayPalAPI1" />
            <endpoint address="https://api-aa.sandbox.paypal.com/2.0/" binding="basicHttpBinding" bindingConfiguration="PayPalAPIAASoapBinding2" contract="PaypalSandboxSvc.PayPalAPIAAInterface" name="PayPalAPIAA1" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />

      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>